                <div class="banner">
    <div>
        <ul id="banner-ul" class="banner-ul1">
        <li><a onclick="banner1()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner2()"><img src="/static/img/002.png"></a></li><li><a onclick="banner3()"><img src="/static/img/003.png"></a></li><li><a onclick="banner4()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner5()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner6()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner7()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner8()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner9()"><img src="/static/img/0001.png"></a></li><li><a onclick="banner10()"><img src="/static/img/0001.png"></a></li>
        </ul>
    </div>
</div>

<div class="galery">
    <a href="#inicio" onclick="banner1()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner2()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner3()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner4()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner5()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner6()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner7()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner8()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner9()"><img src="/static/img/001.png"></a>
    <a href="#inicio" onclick="banner10()"><img src="/static/img/001.png"></a>
</div>