<section class="descarga">
    <a target="_blank" href="/static/img/ferrellave.pdf">Descarga nuestra presentación en PDF</a>
</section>
<footer>
    <table>
    <td>
        <ul>
            <li><strong>Horarios de Atención:</strong></li>
            <li><a>Lunes: 8:30 AM - 6:00 PM</a></li>
            <li><a>Martes: 8:30 AM - 6:00 PM</a></li>
            <li><a>Miércoles: 8:30 AM - 6:00 PM</a></li>
            <li><a>Jueves: 8:30 AM - 6:00 PM</a></li>
            <li><a>Viernes: 8:30 AM - 6:00 PM</a></li>
            <li><a>Sábado: 8:00 AM - 1:00 PM</a></li>
            <li><a>Domingo: Cerrado</a></li>
        </ul>
    </td>
    <td>
    <ul>
        <li><strong>Ferre-Llave:</strong></li>
        <li><a href="{% url 'blog.inicio' %}">Inicio</a></li>
        <li><a href="{% url 'blog.somos' %}">Quienes Somos</a></li>
        <li><a href="{% url 'blog.servicios' %}">Servicios</a></li>
        <li><a href="{% url 'blog.productos' %}">Productos</a></li>
        <li><a href="{% url 'blog.blog' %}">Blog</a></li>
        <li><a href="{% url 'blog.contacto' %}">Contacto</a></li>
        <li><a href="{% url 'blog.inicio' %}/login">Acceso</a></li>
        <li><strong>Dirección:</strong></li>
        <li><a>Carrera 13 # 24A-16, Colombia, Bogotá.</a></li>
        <li><strong>Télefonos:</strong></li>
        <li><a>243 3486 - 305 481 4058</a></li>
        <li><strong>Email:</strong></li>
        <li><a>ferrellave1a@gmail.com</a></li>
    </ul>
    </td>

        <td>
    <ul>
        <li><strong>Servicios:</strong></li>
        {% for categoria in categoria%}
        <li><a href="#">{{categoria.titulo}}</a></li>
        {%endfor%}

    </ul>
    </td>

        <td>
    <ul>
        <li><strong>Productos:</strong></li>
        {% for producto in producto%}
        <li><a href="#">{{producto.titulo}}</a></li>
        {%endfor%}
    </ul>
    </td>

        <td>
    <ul>
        <li><strong>Marcas:</strong></li>
        {% for marca in marca%}
        <li><a href="#">{{marca.titulo}}</a></li>
        {%endfor%}

    </ul>
    </td>

    </table>
    <a class="playstore" href="https://play.google.com/store/apps/details?id=com.ferrellaveco.ferrellaveco.ferrellaveco" target="_blank"></a>
    <p>Copyright © 2019 Ferre-Llave  - Bogotá, Colombia. Todos los derechos reservados. www.ferrellave.co </p>
</footer>
