<section class="descarga">
    <a target="_blank" href="/static/img/ferrellave.pdf">Descarga nuestra presentación en PDF</a>
</section>
<div class="phonef">
    <img src="/static/img/whatsapp.png"><p>Llámanos: (+57-1 3054814058).</p><img src="/static/img/google.png"><p>Escríbenos: ferrellave1a@gmail.com.</p><img src="/static/img/maps.png"><p>Carrera 13 # 24A-16, Colombia, Bogotá.</p>
</div>
<div class="place">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15907.604468917538!2d-74.072156!3d4.611716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x333cbaa2da15d8c4!2sFerre-Llave!5e0!3m2!1ses-419!2sco!4v1560185906352!5m2!1ses-419!2sco" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<footer>
    <table>
            <td>
    <ul>
        <li><strong><img width="24px" src="/static/img/logo.png"> © 2019 Ferrellave.co</strong></li>
        <li><a href="{% url 'blog.inicio' %}">Inicio</a></li>
        <li><a href="{% url 'blog.somos' %}">Quienes Somos</a></li>
        <li><a href="{% url 'blog.servicios' %}">Servicios</a></li>
        <li><a href="{% url 'blog.productos' %}">Productos</a></li>
        <li><a href="{% url 'blog.blog' %}">Blog</a></li>
        <li><a href="{% url 'blog.contacto' %}">Contacto</a></li>
        <li><a href="http://www.ferrellave.co/login">Acceso</a></li>
    </ul>
    </td>
    <td>
        <ul>
            <li><strong><img width="18px" src="/static/img/horarios.png"> Horarios de Atención:</strong></li>
            <li><a>Lunes: 8:30 AM - 6:00 PM</a></li>
            <li><a>Martes: 8:30 AM - 6:00 PM</a></li>
            <li><a>Miércoles: 8:30 AM - 6:00 PM</a></li>
            <li><a>Jueves: 8:30 AM - 6:00 PM</a></li>
            <li><a>Viernes: 8:30 AM - 6:00 PM</a></li>
            <li><a>Sábado: 8:00 AM - 1:00 PM</a></li>
            <li><a>Domingo: Cerrado</a></li>
        </ul>
    </td>
        <td>
    <ul>
        <li><strong><img width="18px" src="/static/img/servicios.png"> Servicios:</strong></li>
        {% for categoria in categoria%}
        <li><a href="#">{{categoria.titulo}}</a></li>
        {%endfor%}

    </ul>
    </td>

    </table>
    <ul id="redesf"><a target="_blank" href="https://api.whatsapp.com/send?phone=+573054814058&text=Solicitud de Información desde www.ferrellave.co"><img src="/static/img/whatsapp.png"></a><a target="_blank" href="https://www.facebook.com/ferre.llave.9"><img src="/static/img/facebook.png"></a><a target="_blank" href="mailto:ferrellave1a@gmail.com"><img src="/static/img/google.png"></a></ul>

    <a class="playstore" href="https://play.google.com/store/apps/details?id=com.ferrellaveco.ferrellaveco.ferrellaveco" target="_blank"></a>
    <p>Copyright © 2019 Ferre-Llave  - Bogotá, Colombia. Todos los derechos reservados. www.ferrellave.co </p>
</footer>
