    <nav class="menu" id="menu">
    <ul id="logo"><a href="#"><img src="/static/img/ferrellave.png"></a></ul>
    <ul>
        <li><a href="/"><span><img src="/static/img/back.png"></span><p>Inicio</p></a></li><li><a href="{% url 'blog.somos' %}"><span><img src="/static/img/llave.png"></span><p>Quienes Somos</p></a></li><li><a href="{% url 'blog.productos' %}"><span><img src="/static/img/productos.png"></span><p>Productos y Servicios</p></a></li><li><a href="{% url 'blog.blog' %}"><span><img src="/static/img/blog.png"></span><p>Blog</p></a></li><li><a href="{% url 'blog.contacto' %}"><span><img src="/static/img/contacto.png"></span><p>Contacto</p></a></li>
    </ul>
    <ul id="redes"><a target="_blank" href="https://api.whatsapp.com/send?phone=+573054814058&text=Solicitud de Información desde www.ferrellave.co"><img src="/static/img/whatsapp.png"></a><a target="_blank" href="https://www.facebook.com/ferre.llave.9"><img src="/static/img/facebook.png"></a><a target="_blank" href="mailto:ferrellave1a@gmail.com"><img src="/static/img/google.png"></a></ul>
</nav>
<div id="inicio" class="top"></div>
<div class="phone">
	<img src="/static/img/whatsapp.png"><p>Llámanos: (+57-1 3054814058).</p><img src="/static/img/google.png"><p>Escríbenos: ferrellave1a@gmail.com.</p><img src="/static/img/maps.png"><p>Carrera 13 # 24A-16, Colombia, Bogotá.</p>
</div>

<a href="#menu" onclick="menu()" id="menu-button" class="menu-button"></a>