{% extends 'blog/base_blog.html' %}

{% block title %}Ferre-Llave Colombia - Blog{% endblock title %}

{% block blog_content %}
<section class="blog" id="blog">
<h2><span><img src="/static/img/blog.png"></span>Blog: Dísfruta las mejores publicaciones relacionadas a nuestros productos y servicios</h2>

{% for blog in blog%}
<article>
    <table>
        <td>
        	{%if blog.foto%}
        	<img src="/media/{{blog.foto}}"></td>
        	{%endif%}
        <td>
            <h3>{{blog.titulo}}</h3>
            <p>{{blog.descripcion}}</p>
            <h4>Publicaciones del Blog</h4>
            <button src="#">Ver Blog</button>
        </td>
    </table>
</article>
{%endfor%}

</section>

<div class="cotiza">
    <p>Realiza tus cotizaciones en linea y ahorra tiempo.</p>
    <a href="{% url 'blog.contacto'%}">Contactanos</a>
</div>
<a href="{%url 'blog.productos'%}">
<img width="100%" src="/static/img/materiales.jpg">
</a>

{% endblock blog_content %}