{% extends 'blog/base_blog.html' %}

{% block title %}Ferre-Llave Colombia - Inicio{% endblock title %}

{% block blog_content %}

{% include 'blog/modules/_banner.html' %}

<section class="iniciop">
	<p>Nuestra principal misión es la completa satisfacción de nuestros clientes</br> utilizando materiales de primera calidad y con el respaldo que su negocio necesita.</p>
	<a href="{% url 'blog.somos'%}">Conócenos</a>
</section>
<a href="{%url 'blog.productos'%}">
<img width="100%" src="/static/img/materiales.jpg">
</a>

<div class="cotiza">
	<p>Realiza tus cotizaciones en linea y ahorra tiempo.</p>
	<a href="{% url 'blog.contacto'%}">Contactanos</a>
</div>

<section class="blog" id="blog">
	<h3>Dísfruta nuestras más recientes publicaciones.</h3>
{% for blog in blog%}
<article>
    <table>
        <td>
        	{%if blog.foto%}
        	<img src="/media/{{blog.foto}}"></td>
        	{%endif%}
        <td>
            <h3>{{blog.titulo}}</h3>
            <p>{{blog.descripcion}}</p>
            <h4>Publicaciones del Blog</h4>
            <button onclick="location.href={%url 'blog.blog'%}">Ver Blog</button>
        </td>
    </table>
</article>
{%endfor%}

</section>
{% endblock blog_content %}